<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>7919918449-eo0heqnn91gnednkigtq21ucrlg0403b.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.7919918449-eo0heqnn91gnednkigtq21ucrlg0403b</string>
	<key>API_KEY</key>
	<string>AIzaSyAFXMLLSNF1UPByoxhqnz4mf4btmBtrBmE</string>
	<key>GCM_SENDER_ID</key>
	<string>7919918449</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.jakovjuric.MovieBrowser</string>
	<key>PROJECT_ID</key>
	<string>moviebrowser-c7825</string>
	<key>STORAGE_BUCKET</key>
	<string>moviebrowser-c7825.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:7919918449:ios:04e910e8dd13afc9</string>
	<key>DATABASE_URL</key>
	<string>https://moviebrowser-c7825.firebaseio.com</string>
</dict>
</plist>